// Imports
@import "./components/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: {
    size: 18px;
    family: "Open Sans", sans serif;
  }
}

h2,
h4 {
  font-family: Poppins;
}

// Section 1
.banner {
  min-height: 90vh;
  background-image: url(../images/bg-hero-desktop.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #edfbfe;
  p {
    font-size: 1.4rem;
    line-height: 2rem;
    color: $Very_Dark_Cyan;
  }
}

// Section 2
.cards {
  min-height: 150vh;
  margin: 5rem 0;
}

// Buttons
.get-started {
  background-color: $Pink;
  color: #fff;
  &:hover {
    color: $Pink;
    background-color: #fff;
  }
}

// Responsive
@media only screen and (max-width: 768px) {
  h2,
  h4,
  p {
    text-align: center;
  }
}

@media only screen and (min-width: 992px) {
  .card-pad {
    padding: 0 7rem;
  }
}
