// Imports
@import "./components/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: {
    size: 18px;
    family: "Open Sans", sans serif;
  }
  overflow-x: hidden;
}

h2,
h3,
h4 {
  font-family: Poppins;
}

a {
  color: white;
  text-decoration: none;
}

// Section 1
.banner {
  min-height: 90vh;
  background-image: url(../images/bg-hero-desktop.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #edfbfe;
  p {
    font-size: 1.2rem;
    line-height: 2rem;
    padding-right: 3rem;
    color: $Very_Dark_Cyan;
  }
}

.intro {
  button {
    padding: 0rem;
    width: 50%;
  }
}

// Section 2
.cards {
  margin: 5rem 0;
}

// Section 3
.footer {
  overflow-y: hidden;
  background: $Very_Dark_Cyan;
  margin-top: 10rem;
  overflow-x: hidden;
  .nav-bottom {
    position: relative;
    top: 10rem;
  }
}

// Buttons
.get-started {
  background-color: $Pink;
  color: #fff;
  padding: 1rem 2rem;
  &:hover {
    color: $Pink;
    background-color: #fff;
  }
}

// Responsive
@media only screen and (max-width: 768px) {
  h2,
  h4,
  p {
    text-align: center;
  }
  .footer {
    min-height: 100vh;
    p {
      text-align: left;
    }
  }
  .intro {
    p {
      padding-right: 0rem;
    }
    button {
      width: 70%;
    }
  }
  .get-started {
    padding: 0.5rem 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    min-height: 90vh;
  }
  .get-started {
    padding: 0.55rem 1.05rem;
  }
}

@media only screen and (min-width: 992px) {
  .card-pad {
    padding: 0 7rem;
  }
  .footer {
    min-height: 70vh;
  }
}
